# .gitignore
#
# the pound sign, '#', is a comment.
#
# What is a gitignore file?
#
# A .gitignore file tells git what to NOT verson control. Thus, whatever files
# or folders are listed here will not be added to your git repository when you 
# use the git add command. For example, if you run this in your terminal, 
# 
#   git add open_camp
#
# will not be added to this git respository.
#


# ignore all files
*


# do not ignore these files/folders, IE they should be in git.
#
!.gitignore
!changelog.txt
!download_new_base.sh
!FAQ.md
!install_new_box.sh
!login.sh
!reboot.sh
!rebuild.sh
!README.md
!README-update_box.md
!update_base.sh
!Vagrantfile
!shared
!shared/info.sh
!shared/README-host.txt
!shared/README-postgres.txt
!shared/test_pg.sh
!shared/test_sq.sh
!shared/update_all.sh
!shared/update_linux.sh
!shared/update_node.sh
!shared/update_ror.sh
!shared/update_rvm.sh

